@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "BravoRGRegular";
  src: local("BravoRGRegular"), url("../../fonts/BravoRGRegular.woff") format("woff"), url("../../fonts/BravoRGRegular.ttf") format("ttf");
}
@font-face {
  font-family: "Ceremonious One";
  src: local("ceremonious_one"), url("../../fonts/ceremonious_one.woff") format("woff"), url("../../fonts/ceremonious_one.ttf") format("ttf");
}
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: local("pfdintextcondpro-medium"), url("../../fonts/pfdintextcondpro-medium.woff") format("woff"), url("../../fonts/pfdintextcondpro-medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: local("pfdintextcondpro-regular"), url("../../fonts/pfdintextcondpro-regular.woff") format("woff"), url("../../fonts/pfdintextcondpro-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  display: none;
}

.title-item {
  font-family: "Ceremonious One";
  font-size: 2.5rem;
  line-height: 1.6;
  color: #bb9c66;
}

.title-main {
  font-family: "PF Din Text Cond Pro";
  font-size: 2.1875rem;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 500;
}
.title-main_w {
  color: #ffffff;
}

.title-text {
  font-family: "PT Sans", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.66;
}

.btn {
  border-top: #cdb689 0.1875rem solid;
  border-bottom: #8c632c 0.1875rem solid;
  position: relative;
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  width: 0.1875rem;
  height: 100%;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgb(205, 182, 137)), to(rgb(140, 99, 44)));
  background: linear-gradient(180deg, rgb(205, 182, 137) 50%, rgb(140, 99, 44) 100%);
}
.btn::after {
  content: "";
  right: 0;
}
.btn::before {
  content: "";
  left: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  color: #000;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  max-width: 61.5rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  height: 4.6875rem;
  background-color: #1c242a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media (min-width: 120rem) {
  .header__container {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .header__container {
    -webkit-column-gap: calc(0px + 136 * (100vw - 320px) / 1920);
       -moz-column-gap: calc(0px + 136 * (100vw - 320px) / 1920);
            column-gap: calc(0px + 136 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .header__container {
    -webkit-column-gap: calc(0px + 80 * 100vw / 1920);
       -moz-column-gap: calc(0px + 80 * 100vw / 1920);
            column-gap: calc(0px + 80 * 100vw / 1920);
  }
}
.header__logo {
  position: relative;
  z-index: 12;
  max-width: 12.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 55.625rem) {
  .header__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
@media (max-width: 47.99875rem) {
  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__actions {
  margin: 0 auto;
}

@media (max-width: 47.99875rem) {
  .menu-header__body {
    background-color: hsla(207, 16%, 26%, 0.98);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    overflow: auto;
    padding: 5.3125rem 0rem 1.25rem 0rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 10;
  }
  .menu-header__body:after {
    content: "";
    position: fixed;
    background-color: #1c242a;
    top: 0;
    left: 0;
    height: 4.6875rem;
    width: 100%;
  }
}
.menu-header__body.active {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.menu-header__list {
  max-width: 28.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 0.5rem;
}
@media (min-width: 120rem) {
  .menu-header__list {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}
@media (max-width: 120rem) and (max-width: 767px) {
  .menu-header__list {
    -webkit-column-gap: calc(8px + 40.8 * (100vw - 320px) / 1920);
       -moz-column-gap: calc(8px + 40.8 * (100vw - 320px) / 1920);
            column-gap: calc(8px + 40.8 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 120rem) and (min-width: 767px) {
  .menu-header__list {
    -webkit-column-gap: calc(8px + 24 * 100vw / 1920);
       -moz-column-gap: calc(8px + 24 * 100vw / 1920);
            column-gap: calc(8px + 24 * 100vw / 1920);
  }
}
@media (max-width: 55.625rem) {
  .menu-header__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 47.99875rem) {
  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.875rem;
  }
}
.menu-header__link {
  color: #fff;
  font-family: "PF Din Text Cond Pro";
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  white-space: nowrap;
}
@media (min-width: 61.99875rem) {
  .menu-header__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 47.99875rem) and (min-width: 120rem) {
  .menu-header__link {
    font-size: 36px;
  }
}
@media (max-width: 47.99875rem) and (max-width: 120rem) and (max-width: 767px) {
  .menu-header__link {
    font-size: calc(28px + 13.6 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 47.99875rem) and (max-width: 120rem) and (min-width: 767px) {
  .menu-header__link {
    font-size: calc(28px + 8 * 100vw / 1920);
  }
}

.burger {
  display: none;
}
@media (max-width: 47.99875rem) {
  .burger {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 12;
  }
}
@media (max-width: 47.99875rem) and (any-hover: none) {
  .burger {
    cursor: default;
  }
}
@media (max-width: 47.99875rem) {
  .burger span, .burger::before, .burger::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #bd9e68;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger span {
    top: calc(50% - 0.0625rem);
  }
  .burger.menu-open span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .burger.menu-open::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger.menu-open::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  z-index: 12;
}
@media (max-width: 55.625rem) {
  .actions-header {
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
  }
}
.actions-header__region {
  color: #fff;
  font-family: "PF Din Text Cond Pro";
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  white-space: nowrap;
  background: url("../img/header/header_region.png") no-repeat;
  padding-left: 30px;
}
@media (min-width: 61.99875rem) {
  .actions-header__region:hover {
    text-decoration: underline;
  }
}
@media (max-width: 29.99875rem) {
  .actions-header__region {
    display: none;
  }
}
@media (max-width: 55.625rem) {
  .actions-header__region span {
    display: none;
  }
}
.user-header__icon {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.user-header__icon:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
.user-header__menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0rem;
  top: 5.75rem;
  padding: 1.25rem;
  background-color: #1c242a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (min-width: 29.99875rem) {
  .user-header__menu {
    margin: 0 0.75rem;
  }
}
.user-header__menu li {
  margin-bottom: 0.25rem;
}
.user-header__menu li:last-child {
  margin: 0;
}
@media (max-width: 29.99875rem) {
  .user-header__menu {
    width: 100%;
    left: 0;
  }
}
.user-header__menu.active {
  opacity: 1;
  visibility: visible;
  top: 3.75rem;
}
@media (max-width: 47.99875rem) {
  .user-header__menu.active {
    top: 3.25rem;
  }
}
.user-header__link {
  line-height: 1.78; /* 25/14 */
  color: #ffffff;
  white-space: nowrap;
  padding-left: 1.875rem;
}
@media (min-width: 61.99875rem) {
  .user-header__link:hover {
    text-decoration: underline;
  }
}
.user-header__link_1 {
  background: url("../img/header/header_user_hover1.png") 0.125rem center no-repeat;
}
.user-header__link_2 {
  background: url("../img/header/header_user_hover2.png") left center no-repeat;
}
.user-header__link_3 {
  background: url("../img/header/header_user_hover3.png") 0.25rem center no-repeat;
}
.user-header__link_4 {
  background: url("../img/header/header_user_hover4.png") left center no-repeat;
}

.main-slider {
  position: relative;
}
.main-slider__control {
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  bottom: 0;
  width: 4.4375rem;
  height: 4.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
.main-slider__control::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.control-main-slider__arrow {
  position: relative;
  z-index: 2;
  background: url("../img/main/main-slider/main-slider_arrow.png") 0 0 no-repeat;
  width: 0.875rem;
  height: 1.5rem;
  cursor: pointer;
}
.control-main-slider__arrow_next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.control-main-slider__decor {
  position: relative;
  z-index: 2;
  -webkit-animation: decore 5s infinite linear;
          animation: decore 5s infinite linear;
}

@-webkit-keyframes decore {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes decore {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.item-main-slider {
  position: relative;
  text-align: center;
  padding: 1.875rem 0 6.25rem 0;
}
.item-main-slider__content {
  max-width: 52.5rem;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
.item-main-slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.content-slider__text {
  color: #fff;
  max-width: 43.75rem;
  margin: 0 auto 3.125rem auto;
}
.content-slider__btn {
  font-family: "PT Sans", sans-serif;
  font-size: 0.9375rem;
  line-height: 3.375rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 1.125rem 3.375rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.content-slider__btn:hover {
  background: rgba(187, 156, 102, 0.3);
  padding: 1.3125rem 3.5625rem;
}

.title-header__item {
  margin-bottom: 1.25rem;
}
.title-header__main {
  margin-bottom: 1.6875rem;
}